* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

#root {
  /* max-width: 1280px; */
  padding: 2rem 8rem;
  background: url("./src/assets/bg-main-desktop.png");
  display: flex;
  flex-direction: column;
  gap: 15rem;
}

/* Footer */

#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
} 

#logo {
  width: 144px;
}

#footer-text {
  text-align: start;
  line-height: 0.5;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#social-logos img {
  padding-right: 20px;
}

/* Header */

#bg {
  position: absolute;
  top: -3.125rem;
  right: 0;
  width: 19.5rem;
}

#header-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
}

#header-text h1 {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 5.5rem;
}

#header-text p {
  max-width: 736px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
}


/* Box */

#main {
  position: relative;
  background-color: #191826;
  align-items: end;
  max-width: 1440px;
  border-radius: 0.75rem;
  height: 600px;
}

.iphone {
  position: absolute;
  top: -7rem;
  left: 3rem;
  max-height: 600px;
  object-fit: contain;
}

#box {
  background-color: #FA7453;
  width: 100%;
  max-width: 512px;
  height: 39.5em;
  padding: 3rem;
  border-radius: 5%;
  color: #191826;
  font-family: "IBM Plex Sans", serif;
  font-weight: 400;
  position: absolute;
  bottom: -8rem;
  right: 4rem;
}


#box h1 {
  font-size: 2.5rem;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 1rem 0;
}

#box p {
  font-size: 1.25rem;
}

#box .price {
  font-size: 4rem;
  margin-top: 1rem;
}

#box sup {
  font-size: 1rem;
  font-family: "IBM Plex Sans", serif;
  font-weight: 400;
}


#box .buttons {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-top: 3rem;
}

#box button {
  padding: 1em;
  border-radius: 0.75rem;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
}

.ios {
  background-color: #191826;
  color: #FCFAF9;
}

.android {
  background-color: #FCFAF9
}